{% import "bootstrap/utils.html" as utils %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/signin.css') }}">

</head>

<body class="text-center">
<div class="flash">
    {{ utils.flashed_messages() }}
</div>
<div class="form-container">
    <form class="form-signin" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {{ form.email(class="form-control", id="inputEmail", placeholder=form.email.label.text ) }}
        {{ form.password(class="form-control", id="inputPassword", placeholder=form.password.label.text ) }}
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</div>
</body>
</html>
