{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "purchase" %}
{% import "_pagination.html" as macros %}

{% block body %}
{% if list %}
<div class="header">
    <h1>{{_('Achat')}}</h1>
    <div class="actions">
        <a href="{{ url_for('purchase.add') }}">{{_('Nouvelle achat')}}</a>
    </div>
</div>
<div class="actions-bar">
    <form class="form-inline" method="post" action="">
        {{ search_form.hidden_tag() }}
        <div class="form-group">
            {{ search_form.name(size=20, class='form-control', placeholder=search_form.name.label.text) }}
        </div>
        <div class="form-group">{{ search_form.submit(class='form-control') }}</div>
    </form>
</div>
<table class="table">
    <thead>
    <tr>
        <th>DATE</th>
        <th>NO.</th>
        <th>FOURNISSEUR</th>
        <th>DATE LIMITE</th>
        <th>RESTE</th>
        <th>TOTAL</th>
        <th>STATUT</th>
        <th class="text-right"></th>
    </tr>
    </thead>
    <tbody>
    {% for item in list %}
    <tr>
        <td>{{item.created_at}}</td>
        <td>{{item.serial}}</td>
        <td>{{item.supplier.display_as}}</td>
        <td>{{item.receive_date}}</td>
        <td>{{item.balance()}}</td>
        <td>{{item.amount}}</td>
        <td>
            {% if item.status == 0 %}
                <span class="glyphicon glyphicon-time"></span>
            {% elif item.status == 1 %}
                <span class="glyphicon glyphicon-ok"></span>
            {% endif %}
        </td>
        <td class="text-right">
            {% if item.status == 0 %}
            <a href="{{ url_for('purchase.edit', id=item.id) }}">{{_('Modifer')}}</a>
            {% endif %}
            <a href="{{ url_for('purchase.detail', id=item.id) }}">{{_('Detail')}}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% else %}
<div class="panel panel-default emptyspace">
    <div class="panel-body text-center">
        <h3>Aucun achat enregistrée</h3>
        <p>veuillez en créer un en cliquant sur le lien ci-dessous</p>
        <a class="btn btn-default" href="{{ url_for('purchase.add') }}">{{_('Ajouter un achat')}}</a>
    </div>
</div>
{% endif %}
{% endblock %}
