<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>SALUT, {{ current_user.username }}!</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <p>NOMBRES D'UTILISATEURS</p>
                <h3>{{user|length}}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <p>NOMBRES DE PRODUITS</p>
                <h3>{{item|length}}</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
