{% extends "base.html" %}
{% set active_page = "order" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
    <table class="table table-hover">
        <tr>
            <td>
                <h1>{{ order.serial }}</h1>
                <h3>{{ order.customer.display_as }} | {{ order.amount }}</h3>
                {% if order.created_at %}
                <p>{{ _('Effectué le') }}: {{ order.created_at }}</p>
                {% endif %}
                {% if order.order_items|length  > 0%}
                <p>{{ _('Nombre de produit / service commandés') }}: {{ order.order_items|length }}</p>
                {% endif %}
                <p>
                  {% if order.status == 0 %}
                    <span class="glyphicon glyphicon-time"></span>
                  {% elif order.status == 1 %}
                    <span class="glyphicon glyphicon-ok"></span>
                  {% endif %}
                </p>
            </td>
            <td class="text-right">
                {% if order.status == 0 %}
                <p><a class="btn btn-default" href="{{ url_for('order.edit', id=order.id) }}">{{ _('Modifier Produits') }}</a></p>
                <p><a class="btn btn-default" href="{{ url_for('order.validate', id=order.id) }}">{{ _('Valider') }}</a></p>
                {{ wtf.quick_form(form) }}
                {% endif %}
            </td>
        </tr>
    </table>
    {% if order.order_items|length  > 0 %}
    <div class="">
      <h1>produits / services commandés</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Produit / Services</th>
            <th>Nombre</th>
            <th>Prix unitaire</th>
            <th>Montant</th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          {% for item in order.order_items %}
            <tr>
              <td>{{item.item.name}}</td>
              <td>{{item.item_number}}</td>
              <td>{{item.item_price}}</td>
              <td>{{item.item_amount}}</td>
              <td>{{item.created_at}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if order.invoices|length  > 0 %}
    <div class="">
      <h1>Facture</h1>
      <table class="table">
        <thead>
          <tr>
            <th>DATE</th>
            <th>NO.</th>
            <th>MONTANT</th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          {% for item in order.invoices %}
            <tr>
              <td>{{item.created_at}}</td>
              <td>{{item.serial}}</td>
              <td>{{item.amount}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
{% endblock %}
